@use 'colors';
@use 'typography';

html,
body {
  background-color: colors.$color-black;
  color: colors.$color-text-primary;
  display: block;
  font-size: 1rem;
  height: 100vh;
  margin: 0;
  padding: 0;
}

// main {
//   align-items: center;
//   display: flex;
//   flex-direction: column;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: colors.$color-white;
  font-family: typography.$sans-serif;
  margin: 0;
  padding: 0;
}

section,
p {
  color: colors.$color-text-primary;
  font-family: typography.$serif;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

p + p {
  margin-top: 2rem;
}

header {
  p {
    color: colors.$color-text-tertiary;
    font-family: typography.$sans-serif;
    margin: 0;
    padding: 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
