@use 'colors';
@use 'typography';

html,
body {
  color: colors.$color-text-primary;
  background-color: colors.$color-black;
  margin: 0;
  padding: 0;
  display: block;
  height: '100%';
  font-size: 1rem;
}

main {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: colors.$color-white;
  font-family: typography.$sans-serif;
}

section,
p {
  color: colors.$color-text-primary;
  font-family: typography.$serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.7rem;
}

header {
  p {
    color: colors.$color-text-tertiary;
    font-family: typography.$sans-serif;
    margin: 0;
    padding: 0;
  }
}
