.page {
  display: flex;
  flex-direction: column;
  flex: 1;

  .hero {
    background-color: var(--surface-01);
    display: flex;
    flex: 1;
    justify-content: center;

    section {
      max-width: 64rem;
      padding: 4rem;
      width: 100%;

      h1 {
        color: var(--color-white);
        margin-bottom: 0.2em;
      }

      p {
        color: var(--text-tertiary);
        font-family: var(--font-family-sans);
        font-weight: 300;
        text-transform: uppercase;
      }
    }
  }

  .body {
    display: flex;
    flex: 1;
    justify-content: center;

    section {
      border-bottom: 1px solid var(--surface-01);
      max-width: 56rem;
      padding: 4rem;
      width: 100%;
    }
  }
}
