:root {
  --rgb-black: 18, 18, 18;
  --rgb-brown: 172, 142, 104;
  --rgb-cyan: 100, 210, 255;
  --rgb-orange: 255, 159, 10;
  --rgb-white: 255, 255, 255;

  --color-black: rgba(var(--rgb-black), 1);
  --color-brown: rgba(var(--rgb-brown), 1);
  --color-cyan: rgba(var(--rgb-cyan), 1);
  --color-orange: rgba(var(--rgb-orange), 1);
  --color-transparent: rgba(var(--color-white), 0);
  --color-white: rgba(var(--rgb-white), 1);

  --surface-00: rgba(var(--rgb-black), 1);
  --surface-01: rgba(var(--rgb-white), 0.05);

  --text-primary: rgba(var(--rgb-white), 0.87);
  --text-secondary: rgba(var(--rgb-white), 0.6);
  --text-tertiary: rgba(var(--rgb-white), 0.38);
}
