@use 'reset';
@use 'colors';
@use 'typography';

html,
body {
  background-color: var(--surface-00);
}

/* Vendor Overrides */

code:not(.grvsc-code) {
  color: var(--color-brown);
}

code {
  .grvsc-source {
    width: 100%;
  }
}

pre.default-dark {
  background-color: var(--surface-01);
}

// @media (min-width: $breakpoint-md) {
//   :root {
//     --font-size: 14px;
//     --gutter: 2rem;
//   }
// }

// @media (min-width: $breakpoint-lg) {
//   :root {
//     --font-size: 16px;
//     --gutter: 4rem;
//   }
// }
