$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

:root {
  --font-size: 12px;
  --gutter: 1rem;
}

code:not(.grvsc-code) {
  color: rgba(172, 142, 104, 1);
  font-size: inherit;
  line-height: inherit;
}

.grvsc-source {
  width: 100%;
}

@media (min-width: $breakpoint-md) {
  :root {
    --font-size: 14px;
    --gutter: 2rem;
  }
}

@media (min-width: $breakpoint-lg) {
  :root {
    --font-size: 16px;
    --gutter: 4rem;
  }
}
