@use 'reset';
@use 'colors';
@use 'typography';

html,
body {
  background-color: var(--surface-00);
}

/* Vendor Overrides */

code:not(.grvsc-code) {
  color: var(--color-brown);
}

code {
  .grvsc-source {
    width: 100%;
  }
}

pre.default-dark {
  background-color: var(--surface-01);
}
