.hero {
  background-color: var(--surface-01);
  display: flex;
  flex-direction: column;
  width: 100%;

  .content {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 64rem;
    box-sizing: content-box;

    .column {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      &_left {
        flex-grow: 1;
        padding: 4rem 0 4rem 4rem;
      }

      &_right {
        flex-shrink: 25%;
      }
    }

    .entry {
      color: var(--color-white);
      font-family: 'Source Serif Pro', serif;
      text-transform: lowercase;
      margin: 0;
    }

    .pronunciation {
      color: var(--text-tertiary);
      font-family: var(--font-family-sans);
      font-weight: 300;
      margin: 0;
    }

    .definition {
      color: var(--text-secondary);
      font-family: var(--font-family-sans);
      font-weight: 300;

      & + .definition {
        margin-top: 1em;
      }

      .classification {
        color: var(--text-primary);
        font-family: var(--font-family-serif);
        font-style: italic;
        font-weight: 700;
      }
    }
  }
}
