@use 'colors';
@use 'typography';

.hero {
  background-color: colors.$color-surface-01;
  display: flex;
  flex-direction: column;
  width: 100%;

  .content {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 64rem;
    box-sizing: content-box;

    .column {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      &_left {
        flex-grow: 1;
        padding: var(--gutter) 0 var(--gutter) var(--gutter);
      }

      &_right {
        flex-shrink: 25%;
      }
    }

    .entry {
      font-family: 'Source Serif Pro', serif;
      text-transform: lowercase;
    }

    .pronunciation {
      color: colors.$color-text-tertiary;
      font-family: 'Merriweather Sans', sans-serif;
      font-weight: 300;
    }

    .definition {
      color: colors.$color-text-secondary;
      font-family: 'Merriweather Sans', sans-serif;
      font-weight: 300;

      & + .definition {
        margin-top: 1em;
      }

      .classification {
        color: colors.$color-text-primary;
        font-family: typography.$serif;
        font-style: italic;
        font-weight: 700;
      }
    }
  }
}
