@use 'colors';

.content {
  align-self: center;
  display: flex;
  max-width: 64rem;
  width: 100%;

  .reel {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 64rem;

    .post {
      padding: var(--gutter);
      border-bottom: colors.$color-surface-24 1px solid;

      header {
        margin-bottom: 1rem;

        h2 {
          margin-bottom: 0.5rem;

          a {
            color: colors.$color-cyan;
            font-family: 'Merriweather Sans', sans-serif;
            font-size: 2.1rem;
            text-decoration: none;
          }
        }

        p {
          color: colors.$color-text-tertiary;
          font-family: 'Merriweather Sans', sans-serif;
          font-size: 0.9rem;
          font-variant: small-caps;
          text-transform: uppercase;
        }
      }

      section {
        p {
          color: colors.$color-text-secondary;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
