@use 'colors';

ul.postreel {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex: 1;
  list-style: none;
  margin: 0;
  max-width: 56rem;
  padding: 0;

  li {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: colors.$color-surface-24 1px solid;

    // &:first-child {
    //   border-top: colors.$color-surface-24 1px solid;
    // }

    article {
      header {
        padding-bottom: 1rem;

        h2 {
          font-size: 2rem;
          margin: 0;
          padding: 0;

          a {
            color: colors.$color-white;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
              text-decoration-color: red;
            }
          }
        }

        p {
          font-size: 1rem;
          text-transform: uppercase;
          padding-top: 0.5rem;
        }
      }

      section {
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
