.content {
  align-self: center;
  display: flex;
  max-width: 64rem;
  width: 100%;

  .reel {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 64rem;

    .post {
      padding: 4rem;
      border-bottom: 1px solid var(--surface-01);

      header {
        margin-bottom: 1rem;

        h2 {
          margin-bottom: 0.5rem;

          a {
            color: var(--color-cyan);
            font-family: 'Merriweather Sans', sans-serif;
            font-size: 2.1rem;
            text-decoration: none;
          }
        }

        p {
          color: var(--text-tertiary);
          font-family: 'Merriweather Sans', sans-serif;
          font-size: 0.9rem;
          font-variant: small-caps;
          text-transform: uppercase;
        }
      }

      section {
        p {
          color: var(--text-secondary);
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
