.title {
  align-items: center;
  border-right: var(--surface-01) solid 1px;
  box-sizing: content-box;
  color: var(--color-white);
  display: flex;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.5rem;
  height: 3rem;
  justify-content: center;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0 2rem 0 0;

  a {
    color: var(--color-white);
    text-decoration: none;

    &:hover {
      color: var(--color-cyan);
      text-decoration: underline;
    }
  }
}
